extends layout

block content
  h1= title
  p Welcome to #{title}
  p this is the first time I've done this and I have no idea what I'm doing #{title}
  p= request.hostname
  p= response
  p yo
  a(href='users') Fluffy